---
import Layout from '../layouts/Layout.astro';
import Navbar from '../sections/Navbar.astro';
import Hero from '../sections/Hero.astro';
import Footer from '../sections/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	
<div class="cursor"></div>

<div id="smooth-wrapper">
<div id="smooth-content">

{
/*
Home
Learn
    Chess Basics
		How To Play
        Chess Vocabulary
        Algebraic Notation
    CP Codes
		Why Replace ECO?
		CP Code Basics
		Custom CP Codes
	Chesstheory
		Introduction
		How To Use
		
Wiki
    About
    Page Creator
Pricing

Contact
	FAQ
	Email
		*/
}

{/*
[A, [B, C], D]
*/}
<Navbar items={[
	{ title: 'Home', href: '/' },
	{ title: 'Learn', items: [
		{ title: 'Chess Basics', items: [
			{ title: 'How To Play', href: '/learn/chess-basics/how-to-play' },
			{ title: 'Chess Vocabulary', href: '/learn/chess-basics/vocabulary' },
			{ title: 'Algebraic Notation', href: '/learn/chess-basics/algebraic-notation' },
		]},
		{ title: 'CP Codes', items: [
			{ title: 'Why Replace ECO?', href: '/learn/cp-codes/why-replace-eco' },
			{ title: 'CP Code Basics', href: '/learn/cp-codes/basics' },
			{ title: 'Custom CP Codes', href: '/learn/cp-codes/custom-cp-codes' },
		]},
		{ title: 'Chesstheory', items: [
			{ title: 'Introduction', href: '/learn/chesstheory/introduction' },
			{ title: 'How To Use', href: '/learn/chesstheory/how-to-use' },
		]},
	]},
]} />

<Hero title="Learn Chess Openings Fast" product="Chesstheory" description="revolutionary new tool for studying and storing chess openings. Chess openings provide not only different styles of play, but also a valuable insight into the rich history of chess." />

<Footer />


</div>
</div>

</Layout>
