@import "tailwindcss";

/* DaisyUI plugin block */
@plugin "daisyui" {
  themes: night --default, light;
  root: ":root";
  logs: true;
}

/* No prefixes for DaisyUI components. Instead, we will prefix the interactive Vue components. */

:root {
  --hero-gradient-from: #0a52d6; /* Tailwind blue-500 */
  --hero-gradient-to: #1e3a9a;   /* Tailwind blue-900 */
}

[data-theme="night"] {
  --hero-gradient-from: #22c55e; /* green-400 for night */
  --hero-gradient-to: #3b82f6;   /* blue-500 for night */
}


::-webkit-scrollbar { width: 0 !important }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color-placeholder) !important;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--text-color-placeholder) !important;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-color-placeholder) !important;
}

::selection {
    background: #007000; /* WebKit/Blink Browsers */
    color: #00ff00;
}
::-moz-selection {
    background: #007000; /* Gecko Browsers */
    color: #ffffff;
}




* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    min-height: 100svh;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden; 
}

div, nav {
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

/* Agrandir */
@font-face {
  font-family: 'Agrandir';
  font-style: normal;
  font-display: swap;
  src: url("/resources/fonts/Agrandir/Agrandir-Regular.woff2") format('woff2');
}


/* Kanit-latin-100-normal */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("/resources/fonts/Kanit/Kanit-Thin.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-Thin.woff') format('woff');
}

/* Kanit-latin-200-normal */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("/resources/fonts/Kanit/Kanit-ExtraLight.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-ExtraLight.woff') format('woff');
}

/* Kanit-latin-300-normal */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("/resources/fonts/Kanit/Kanit-Light.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-Light.woff') format('woff');
}

/* Kanit-latin-400-normal */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/resources/fonts/Kanit/Kanit-Regular.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-Regular.woff') format('woff');
}

/* Kanit-latin-500-normal */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/resources/fonts/Kanit/Kanit-Medium.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-Medium.woff') format('woff');
}

/* Kanit-latin-600-normal */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/resources/fonts/Kanit/Kanit-SemiBold.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-SemiBold.woff') format('woff');
}

/* Kanit-latin-700-normal */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/resources/fonts/Kanit/Kanit-Bold.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-Bold.woff') format('woff');
}

/* Kanit-latin-800-normal */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("/resources/fonts/Kanit/Kanit-ExtraBold.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-ExtraBold.woff') format('woff');
}

/* Kanit-latin-900-normal */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("/resources/fonts/Kanit/Kanit-Black.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-Black.woff') format('woff');
}

/* Kanit-latin-100-italic */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url("/resources/fonts/Kanit/Kanit-ThinItalic.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-ThinItalic.woff') format('woff');
}

/* Kanit-latin-200-italic */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url("/resources/fonts/Kanit/Kanit-ExtraLightItalic.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-ExtraLightItalic.woff') format('woff');
}

/* Kanit-latin-300-italic */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url("/resources/fonts/Kanit/Kanit-LightItalic.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-LightItalic.woff') format('woff');
}

/* Kanit-latin-400-italic */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url("/resources/fonts/Kanit/Kanit-RegularItalic.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-RegularItalic.woff') format('woff');
}

/* Kanit-latin-500-italic */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url("/resources/fonts/Kanit/Kanit-MediumItalic.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-MediumItalic.woff') format('woff');
}

/* Kanit-latin-600-italic */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url("/resources/fonts/Kanit/Kanit-SemiBoldItalic.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-SemiBoldItalic.woff') format('woff');
}

/* Kanit-latin-700-italic */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url("/resources/fonts/Kanit/Kanit-BoldItalic.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-BoldItalic.woff') format('woff');
}

/* Kanit-latin-800-italic */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url("/resources/fonts/Kanit/Kanit-ExtraBoldItalic.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-ExtraBoldItalic.woff') format('woff');
}

/* Kanit-latin-900-italic */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url("/resources/fonts/Kanit/Kanit-BlackItalic.woff2") format('woff2'), url('/resources/fonts/Kanit/Kanit-BlackItalic.woff') format('woff');
}

/* Montserrat-latin-100-normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("/resources/fonts/Montserrat/Montserrat-Thin.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-Thin.woff') format('woff');
}

/* Montserrat-latin-200-normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("/resources/fonts/Montserrat/Montserrat-ExtraLight.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff');
}

/* Montserrat-latin-300-normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("/resources/fonts/Montserrat/Montserrat-Light.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-Light.woff') format('woff');
}

/* Montserrat-latin-400-normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/resources/fonts/Montserrat/Montserrat-Regular.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

/* Montserrat-latin-500-normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/resources/fonts/Montserrat/Montserrat-Medium.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
}

/* Montserrat-latin-600-normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/resources/fonts/Montserrat/Montserrat-SemiBold.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
}

/* Montserrat-latin-700-normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/resources/fonts/Montserrat/Montserrat-Bold.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

/* Montserrat-latin-800-normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("/resources/fonts/Montserrat/Montserrat-ExtraBold.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
}

/* Montserrat-latin-900-normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("/resources/fonts/Montserrat/Montserrat-Black.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-Black.woff') format('woff');
}

/* Montserrat-latin-100-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url("/resources/fonts/Montserrat/Montserrat-ThinItalic.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff');
}

/* Montserrat-latin-200-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url("/resources/fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
}

/* Montserrat-latin-300-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url("/resources/fonts/Montserrat/Montserrat-LightItalic.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-LightItalic.woff') format('woff');
}

/* Montserrat-latin-400-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url("/resources/fonts/Montserrat/Montserrat-RegularItalic.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-RegularItalic.woff') format('woff');
}

/* Montserrat-latin-500-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url("/resources/fonts/Montserrat/Montserrat-MediumItalic.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff');
}

/* Montserrat-latin-600-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url("/resources/fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
}

/* Montserrat-latin-700-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url("/resources/fonts/Montserrat/Montserrat-BoldItalic.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff');
}

/* Montserrat-latin-800-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url("/resources/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
}

/* Montserrat-latin-900-italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url("/resources/fonts/Montserrat/Montserrat-BlackItalic.woff2") format('woff2'), url('/resources/fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff');
}
