---
const { title, product, description } = Astro.props;
---

<section class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="https://www.thechessdrum.net/drummajors/Jimmy_Canty7(09).jpg"
      class="max-w-md rounded-xl shadow-2xl" />
    <div class="max-w-lg font-[Kanit]">
      <h1 class="text-6xl font-[600]">{title}</h1>
      <p class="py-6 font-[300]">
        <b class="font-[600]">{product}</b> is a {description}
      </p>
      <button class="btn btn-primary font-[300]">Get Started</button>
    </div>
  </div>
</section>