---
const { title, description } = Astro.props;
---
<div
  id="hero"
  class="hero mt-20 bg-base-200 text-base-content w-screen font-[Kanit]"
  style="min-height: calc(100vh - 5rem);"
>
  <div class="hero-content text-center">
    <div class="max-w-3xl">
      <h1 class="text-8xl font-[700] bg-clip-text text-transparent leading-[1.15]" style="background-image: linear-gradient(to right, var(--hero-gradient-from), var(--hero-gradient-to));">
        {title}
      </h1>

      <div class="py-6">
        <p class="text-2xl font-[300] inline">
          {description}

          <span class="tooltip inline" data-tip="What's this?">
            <a
              href="#DBL"
              class="btn btn-info btn-xs rounded-full mx-1"
              aria-label="More info"
            >
              <i class="fa-regular fa-info"></i>
            </a>
          </span>
        </p>
      </div>

      <a class="btn btn-primary btn-xl my-2 rounded-full">
        Get Started
      </a>
    </div>
  </div>
</div>
