---

---

<section class="flex w-full flex-col min-h-screen lg:flex-row">
    <div class="card w-1/2 bg-base-300 rounded-box grid grow justify-center p-15 m-5 font-[Kanit] font-[300]">
        <h1 class="text-5xl font-[600]">Free Plan</h1>
        <h6 class="text-2xl font-[300] m-0">Free Forever</h6>
        <ul>
            <li>Opening Analysis up to Move 10</li>
            <li>Maximum 2 Pages Edited</li>
            <li>Stockfish Chess Engine</li>
        </ul>
        <button class="btn btn-info font-[300] rounded-full">Get Started</button>
    </div>
    <div class="card w-1/2 bg-base-300 rounded-box grid grow justify-center p-15 m-5 font-[Kanit] font-[300]">
        <h1 class="text-5xl font-[600]">Yearly Premium Plan</h1>
        <h6 class="text-2xl font-[300] m-0">$35 per year</h6>
        <ul>
            <li>Unlimited Opening Analysis</li>
            <li>Unlimited Page Editing</li>
            <li>Stockfish, Leela Chess Zero, & Dragon Chess Engines</li>
        </ul>
        <button class="btn btn-info font-[300] rounded-full">Get Started</button>
    </div>
</section>