---
import Layout from '../layouts/Layout.astro';

import Navbar from '../sections/Navbar.astro';
import Hero from '../sections/Hero.astro';
import DoubleColumns from '../sections/DoubleColumns.astro';
---
<Layout title="Chesstheory - Science-Backed Chess Improvement">

<Navbar 
	title="Chesstheory",
	items={[
		{title: 'Courses', href: '/courses', subItems: [
			{type: "item", title: 'Openings', href: '/explorer/openings'},
			{type: "item", title: 'Middlegames', href: '/explorer/middlegames'},
			{type: "item", title: 'Endgames', href: '/explorer/endgames'},
			{type: "item", title: 'Tactics', href: '/explorer/tactics'},
			{type: "separator"},
			{type: "item", title: 'Create a Course', href: '/explorer/createcourse'},
		]},
		{title: 'Explorer', href: '/explorer', subItems: [
			{type: "item", title: 'Explorer', href: '/explorer'},
			{type: "item", title: 'My Repertoire', href: '/repertoire'},
		]},
		{title: 'Academy', href: '/academy'},
		{title: 'Jobs', href: '/jobs'},
		{title: 'Blog', href: '/blog'},
	]}
/>


<div id="smooth-wrapper">
<div id="smooth-content">

<Hero
	title="Learn Chess The Scientific Way"
	description="Chesstheory uses Decision-Based-Learning and other science-based techniques to boost your chess understanding to new heights."
/>

<DoubleColumns
	title="Decision-Based-Learning"
	description="Decision-Based-Learning (DBL) is a science-backed learning method that focuses on understanding decisions and their consequences, instead of robotically memorizing solutions. Chesstheory utilizes DBL by letting students explore multi-move strategies, diverse playing styles, and personalized repertoires to understand why certain moves succeed or fail, rather than robotically memorizing moves."
    align="left"
    id="DBL"
	contentType="Feature List"
	content={[
		{ title: 'Interactive learning' },
		{ title: 'Focus on critical decisions' },
		{ title: 'Understanding mistakes' },
	]}
/>

</div>
</div>


</Layout>